#features {
    
    background-color: $primary;
    margin-top: 9px;

    h3 {
        color: $secondary;
        padding: 30px 0px;
        margin: 0px;
    }

    &__links {
        max-width: 560px; //ensures the max squares per row is 4
        margin: auto; //centers the squares
        padding-bottom: 25px;

        a {
            margin: 7px 10px;
        }
    }
}