#footer {

    margin: 0px auto 30px auto;

    h3 {
        color: $primary;
        padding: 30px 0px;
        margin: 0px;
    }
    
    &__socials {
        margin-bottom: 8px;
        
        a, a:visited {
            text-decoration: none;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    p, a {
        margin: 15px 0px 0px 0px;
        font-size: 0.9375rem; //15px / 16
        line-height: 0.8;
    }
}

