html {
    font-size: 100%;
    box-sizing: border-box; //includes padding in the final width
    background-color: $secondary;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1.25rem; //20px / 16
    font-weight: 500;
    line-height: 1.3;
    color: $primary;
    text-align: center;
}

h1 {
    font-family: 'Vollkorn', serif;
    font-size: 40px;
}

h3 {
    font-family: 'Vollkorn', serif;
    font-size: 30px;
}

h5 {
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}

// button {
//     font-family: 'Karla', sans-serif;
//     font-size: 0.9375rem; //15px / 16
//     font-weight: bold;
//     cursor: pointer;
//     border-style: none; //remove the intrinsic border
//     padding: 5px 33px;
// }

// a {
//     target-name:new;
//     target-new: tab;
// }

//Flexbox
.flex {
    display: flex;

    &-fd-c {
        flex-direction: column;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-fw-w {
        flex-wrap: wrap;
    }
}

//12 Column Grid (64px)
.layout {
    max-width: 940px; //12 column grid (60px)
    margin: auto; //centeres the grid body
}

//Top page border
.border {
    border-color: $primary;
    border-style: solid;
    border-width: 3px
    position: fixed;
    bottom: 0px;
    top: auto;
}

// //Visibility
// .hide-for-mobile {
//     @include breakpoint-down(medium) {
//         display: none;
//     }
// }

// .hide-for-desktop {
//     @include breakpoint-up(large) {
//         display: none;
//     }
// }