@import "variables";
@import "mixins";
@import "globals";
@import "header";
@import "footer";
@import "./Landing page/_about";
@import "./Landing page/_features";
@import "./Experience/_experience";
@import "./Work/_work";
