#experience {
    padding: 25px 0px 30px 0px;

    h3 {
        padding-bottom: 10px;
        margin: 0px;
    }

    &__container {
        max-width: 250px;
        padding: 35px;
        margin: 22px;
        box-shadow: 15px 15px $primary;

        h5 {
            margin: 0px;
        }
        
        p {
            font-size: 0.9375rem; //15px / 16
            margin: 20px 0px 32px 0px;
        }

        a, a:visited { //styled as a button
            color: $secondary;
            background-color: $primary;
            font-family: 'Karla', sans-serif;
            font-size: 0.9375rem; //15px / 16
            font-weight: bold;
            padding: 8px 33px;
            text-decoration: none;
        }
    }
}

#compgirls {
    background-color: $primary;
    margin: 7px 0px 0px 0px; 
    padding: 50px 0px 40px 0px;

    h3 {
        padding: 0px;
        margin: 0px;
        color: $secondary;
    }

    p {
        color: $secondary;
        margin: 10px 0px 30px 0px;
    }

    .text {
        max-width: 500px;
        padding: 0px 10px;

        p {
            color: $secondary;
            text-align: justify;
            font-size: 0.9375rem; //15px / 16
            line-height: 1.5;
            margin: 20px 0px;
        }

        a, a:visited {
            border-bottom: 1.5px solid $secondary; //underline
            padding-bottom: 0.5px; //space between text and underline
            text-decoration: none;
            color: $secondary;
        }
    }

    video {
        margin: 20px;
    }
}

#promo {
    background-color: $primary;
    margin: 7px 0px 0px 0px; 
    padding: 50px 0px 40px 0px;

    h3 {
        padding: 0px;
        margin: 0px;
        color: $secondary;
    }

    p {
        color: $secondary;
        margin: 10px 0px 30px 0px;
    }

    .text {
        max-width: 400px;
        padding: 0px 10px;

        p {
            color: $secondary;
            text-align: justify;
            font-size: 0.9375rem; //15px / 16
            line-height: 1.5;
            margin: 20px 0px;
        }

        a, a:visited {
            border-bottom: 1.5px solid $secondary; //underline
            padding-bottom: 0.5px; //space between text and underline
            text-decoration: none;
            color: $secondary;
        }
    }

    video {
        margin: 20px;
    }
}