#experience {
    padding: 25px 0px 30px 0px;

    h3 {
        padding-bottom: 10px;
        margin: 0px;
    }

    &__container {
        max-width: 250px;
        padding: 35px;
        margin: 22px;
        box-shadow: 15px 15px $primary;

        h5 {
            margin: 0px;
        }
        
        p {
            font-size: 0.9375rem; //15px / 16
            margin: 20px 0px 32px 0px;
        }

        a, a:visited { //styled as a button
            color: $secondary;
            background-color: $primary;
            font-family: 'Karla', sans-serif;
            font-size: 0.9375rem; //15px / 16
            font-weight: bold;
            padding: 8px 33px;
            text-decoration: none;
        }
    }
}

#compgirls {
    background-color: $primary;
    height: 500px;

    h3 {
        padding: 30px 0px;
        margin: 7px 0px 0px 0px; 
        color: $secondary;
    }
}

#promo {
    background-color: $primary;
    height: 500px;

    h3 {
        padding: 30px 0px;
        margin: 9px 0px 0px 0px; 
        color: $secondary;
    }
}